<div class="main_wrapper">

  <h1>Meme Generator</h1>
  <p>The simplest Meme Generator. Just add some text to your image and post on facebook!!</p>

  <%= render 'form', post: @post %>

  <%= link_to 'Back', posts_path %>

</div>

