@import "semantic-ui";

body{
    font-size: 16px;
}

.wrapper{
    padding: 30px;
}

.main_wrapper{
    margin: 30px auto;
}

.header{
    margin-bottom: 25px !important;
}

.ui.form{
    margin-bottom: 25px;
}

.submit_button{
    color: #fff;
    text-align: center;
    border: 1px solid #00bff3;
    background: #00bff3;
    height: 32px;
    display: inline-block;
    cursor: pointer;
    padding: 0 10px;
    border-radius: 3px;
    width: 100%;
}

.form_groups{
    max-width: 470px;
}

.confirm_wrapper{
    max-width: 500px;
}

.link_group{
    margin-top: 20px;
}

.back_link{
    display: inline-block;
    margin-top: 15px;
}

