@import "bootstrap";


.main_wrapper{
    margin: 30px auto;
}

.submit_button{
    color: #fff;
    text-align: center;
    border: 1px solid #00bff3;
    background: #00bff3;
    height: 32px;
    display: inline-block;
    cursor: pointer;
    padding: 0 10px;
    border-radius: 3px;
    width: 100%;
}

.form_groups {
    max-width: 470px;
}